<footer>
    <div class="footer-container">
        <section class="social">
            <a href="#"><p class="fa fa-instagram"></p></a>
            <a href="#"><p class="fa fa-youtube"></p></a>
            <a href="#"><p class="fa fa-facebook"></p></a>
            <a href="#"><p class="fa fa-envelope"></p></a>
            <a href="#"><p class="fa fa-phone"></p></a>
        </section>
        <section class="address">
            <p>H.no:75567, Street no: 6, Happy colony</p>
            <p>Hyderabad,Telangana</p>
        </section>
        <section class="disclamer">
            <p>This website is for my education perposed only and have no intension of riskin others.</p>
        </section>
    </div>
</footer>